# PostgreSQL container settings
POSTGRES_DB=app_db
POSTGRES_USER=app_user
POSTGRES_PASSWORD=app_password
POSTGRES_PORT=5432

# pgAdmin settings
PGADMIN_DEFAULT_EMAIL=admin@local.dev
PGADMIN_DEFAULT_PASSWORD=admin123
PGADMIN_PORT=5050

#DATABASE_URL=postgres://avnadmin:aivenpassword@host.h.aivencloud.com:12746/defaultdb
DATABASE_URL=postgres://app_user:app_password@localhost:5432/app_db?sslmode=disable

SECRET=your_secret_key_here
